// 全站設定

// 引入 google font
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Noto+Sans+TC:wght@400;700&family=Wendy+One&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $f-NotoSans;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top; // 移除多的高度
}

a {
  text-decoration: none;
  cursor: pointer;
}

sub {
  vertical-align: sub;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $c-black;
}

h2 {
  font-size: 32px;
  line-height: 46px;
  font-weight: bold;
  @media (max-width: 767px) {
    font-size: 28px;
    line-height: 40px;
  }
}
