// 共用元件

// 上方區塊
.headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
  @media (max-width: 575px) {
    border-bottom: 2px solid $c-yellow;
    background-color: $c-white;
    padding: 24px 48px;
    margin: 0 -48px;
  }
  @media (max-width: 375px) {
    padding: 16px 20px;
    margin: 0 -20px;
  }

  .logo {
    max-height: 40px;
    @media (max-width: 575px) {
      max-height: 32px;
      padding-right: 20px;
    }
    @media (max-width: 375px) {
      max-height: 24px;
    }
  }

  // 方案費用 button
  .headerBtn {
    padding: 8px 32px;
    background-color: $c-red;
    color: $c-white;
    border-radius: 22px;
    transition: 0.4s;
    white-space: nowrap;
    &:hover {
      background-color: lighten($c-red, 6%);
    }
  }
}

// 方案費用 button
.programBtn {
  display: inline-block;
  padding: 12px 32px;
  background-color: $c-primary;
  color: $c-white;
  border-radius: 27px;
  transition: 0.4s;
  font-size: 18px;
  line-height: 25px;
  // border: 1px solid $c-primary;
  &:hover {
    background-color: lighten($c-primary, 6%);
  }
}

// scroll to top button
.scrollTopBtn {
  display: block;
  width: 71px;
  height: 71px;
  border-radius: 50%;
  position: fixed;
  right: 48px;
  bottom: 23px;
  background-color: $c-primary;
  font-family: $f-WendyOne;
  font-size: 18px;
  color: $c-white;
  text-align: center;
  line-height: 71px;
  z-index: 5;
  transition: 0.5s;
  &:hover {
    background-color: lighten($c-primary, 6%);
  }
  @media (max-width: 375px) {
    width: 50px;
    height: 50px;
    right: 16px;
    bottom: 16px;
    font-size: 14px;
    line-height: 50px;
  }
}

// footer
.footer {
  text-align: center;
  background-color: $c-grey;
  padding: 16px 0;
}
